{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="navbar">
    <li><a href="{% url 'home'%}" style="font-size: x-large; font-style: italic;padding-left: 15%;">Cureya</a></li>
    <li><a href="{% url 'patientlogin'%}">Login</a></li>
    <li><a href="{% url 'patientregistration'%}">Register</a></li>
    </div>
 <div class="card">
     <h2>Patient</h2>
    <h3>Registration Page</h3> 

{% if register %}
<h1>Registration Succesfully</h1>
{% else %}
<form method="POST" align="center" action="{% url 'patientregistration'%}">
    {% csrf_token %}
    {% for f in form %}
    {{f}}
    {%endfor%}
    <br>
     <button type="submit" class="singupbut"> Submit</button>
</form>
<a href="{% url 'patientlogin' %}" style="text-decoration:none; color:black;" >Already have an account</a>

</div>
{% endif %}